/*Zerando a margem*/
* {
    margin: 0px;
    padding: 0px;
}

/* definiçoes gerais*/

body {
    font-family: 'Times New Roman', serif, Arial;
    background-color: rgb(red, green, blue);
}

/* cabeçalho */
header {
    font-size: 40px;
    background: #ff4500;
    padding: 40px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    border: 25px solid #ee4000;
}

nav>span>a:hover,
.selecionado a {
    background: #4169e1;
    text-decoration: none;
    border-radius: 10px 20px;
}

/*conteúdo principal*/
main {
    font-size: 25px;
    background-color: #d3d3d3;
    border: 25px solid #a9a9a9a9;
    text-align: center;
}

h2 {
    text-align: center;
}

.elenco {
    font-size: 20px;

}

.imagem {
    text-align: center;
}

.sombra {
    box-shadow: 2.6px 2.6px 3.2px 3.2px black;
}

/* Rodapé */
footer {
    background: #ff4500;
    padding: 10px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    font-size: 25px;
    border: 30px solid #ee4000;

}

footer>a:hover,
.selecionado a {
    background: #4169e1;
    text-decoration: none;
    border-radius: 10px 20px;
}

a {
    color: black;
    text-decoration: none;
}

table#tabela {
    border: 3px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    border: 3px solid black;
    border-collapse: collapse;
}

tr {
    border: 3px solid black;
    border-collapse: collapse;
}

td {
    border: 3px solid black;
    border-collapse: collapse;
}